<nav>
    <ul>
        <li><a class="<%= path=== 'admin/add-product' ? 'acive' : '' %>" href="/shop">shop</a></li>
        <li><a class="<%= path=== '/' ? 'acive' : '' %>" href="/add-product">add-product</a></li>
    </ul>
</nav>