extends laylout/main-layout.pug 

block style
block nav
        
    main

        h1 My Product
        p List Of my Product
        if prods.length > 0


            each product in prods

                    
                ul 
                    li #{product.title}
        else
            h1 No Products