doctype html


html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{docTitle}
        link(rel="stylesheet", href="css/style.css")
        block style
        
    body
        header.main-header
            nav.main-nav
                ul.main-header-itemlist
                    li.main-header-item
                        a.active(href="/", class=(path==='/' ? 'active': '')) Shop 
                    li.main-header-item
                        a.active(href="/add-product", class=(path==='/add-product' ? 'active': '')) Add-product
    
    block nav
    


